<md-toolbar class="md-theme-indigo">
  <h1 class="md-toolbar-tools">{{'SEARCH' | translate}}</h1>
</md-toolbar>
<md-content class="md-theme-default" layout="column">
  <arch-back-button back-state="map.home" layout-fill></arch-back-button>
  <md-content class="md-theme-default md-padding">
    <form class="well form-search">
      <md-input-container flex>
        <label>{{'COMMENTARY' | translate}}</label>
        <textarea ng-model="commentary"></textarea>
      </md-input-container>
      <md-input-container flex>
        <label>{{'DIFFICULTY' | translate}}</label>
        <textarea ng-model="difficuty"></textarea>
      </md-input-container>
      <md-button ng-click="search()">
        {{'SEARCH' | translate}}
      </md-button>
    </form>
    <pre ng-model="result">
{{result}}
</pre>
  </md-content>
</md-content>
