<md-toolbar class="md-theme-indigo">
  <h1 class="md-toolbar-tools">{{'SEARCH' | translate}}</h1>
</md-toolbar>
<md-content class="md-theme-default" layout="column">
  <arch-back-button back-state="map.home" layout-fill></arch-back-button>
  <md-content class="md-theme-default md-padding">
    <form class="well form-search">
      <label>Commentaire</label>
      <input type="text" ng-model="commentary" class="input-medium search-query" placeholder="Keywords...">
      <label>Difficulté</label>
      <input type="text" ng-model="difficulty" class="input-medium search-query" placeholder="Keywords...">
      <button type="submit" class="btn" ng-click="search()">Search</button>
    </form>
    <pre ng-model="result">
{{result}}
</pre>
  </md-content>
</md-content>
