<form name="subscribeForm" role="form" ng-submit="subscribe()">
  <div layout="column">
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'SUBSCRIBE_FORM_LNAME' | translate}}</label>
        <input type="text" ng-model="oauthUser.lname" ng-required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'SUBSCRIBE_FORM_FNAME' | translate}}</label>
        <input type="text" ng-model="oauthUser.fname" ng-required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-envelope-o"></md-icon>
      <md-input-container flex>
        <label>{{'SUBSCRIBE_FORM_EMAIL' | translate}}</label>
        <input type="email" ng-model="oauthUser.email" ng-required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-lock"></md-icon>
      <md-input-container flex>
        <label>{{'SUBSCRIBE_FORM_PASSWORD' | translate}}</label>
        <input type="password" ng-model="oauthUser.password" ng-required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-lock"></md-icon>
      <md-input-container flex>
        <label>{{'SUBSCRIBE_FORM_CONFIRM' | translate}}</label>
        <input type="password" ng-model="oauthUser.confirm" ng-required="true">
      </md-input-container>
    </div>
  </div>

  <div class="md-actions" layout="row">
    <md-button class="md-raised md-accent" type="submit" ng-disabled="userForm.$invalid">{{'SUBSCRIBE_FORM_SUBMIT' | translate}}</md-button>
  </div>
</form>
