<form role="form" class="contactForm validateIt" data-email-subject="Contact Form" data-show-errors="true">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <input required type="text" name="field[]" class="form-control input-lg" placeholder="First Name">
      </div>
      <div class="form-group">
        <input required type="email" name="field[]" class="form-control input-lg" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input required type="password" name="field[]" class="form-control input-lg" placeholder="Password">
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <input required type="text" name="field[]" class="form-control input-lg" placeholder="Last Name">
      </div>
      <div class="form-group">
        <input required type="phone" name="field[]" class="form-control input-lg" placeholder="Téléphone">
      </div>
      <div class="form-group">
        <input required type="password" name="field[]" class="form-control input-lg" placeholder="Confirm password">
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <button type="submit" class="btn btn-default btn-lg btn-block">M'inscrire !</button>
    </div>
  </div>
</form>
