<md-toolbar>
  <h1 class="md-toolbar-tools">{{'BUG_LIST' | translate}}</h1>
</md-toolbar>
<md-content class="md-padding">
  <span ng-if="!bugs">
    {{'NO_BUG_REPORTED' | translate}}
  </span>
  <span ng-if="bugs">
    <md-tabs>
      <md-tab md-on-select="setFilter()">{{'ALL' | translate}}</md-tab>
      <md-tab md-on-select="setFilter('unsolved')">{{'UNSOLVED' | translate}}</md-tab>
      <md-tab md-on-select="setFilter('resolved')">{{'RESOLVED' | translate}}</md-tab>
    </span>
    <arch-content-dropdown ng-repeat="bug in bugs | filter:filterOptions" title="::bug.description" split-title="{{'RESOLVE' | translate}}" split-fn="resolve(bug)" ng-click="centerOnBug(bug)">
      <p>{{'LATITUDE' | translate}}: {{bug.coordinates.latitude}}</p>
      <p>{{'LONGITUDE' | translate}}: {{bug.coordinates.longitude}}</p>
      <md-divider></md-divider>
      <p>{{'DESCRIPTION' | translate}}: {{bug.description}}</p>
    </arch-content-dropdown>
  </span>
</md-content>
