<div>
  <form class="form-horizontal"
        name="uploadForm" role="form" enctype="multipart/form-data"
        novalidate>

    <div style="text-align:center">
      <field label="Schema File">
        <input type="file"
               nv-file-select
               class="btn btn-group btn-input clearfix"
               uploader="uploader"/>
      </field>
    </div>

    <div class="alert alert-danger" ng-show="uploadError!=null">{{uploadError}}</div>
    <div class="col-xs-12">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="upload()"
              ng-disabled="uploadForm.$invalid">Upload</button>
    </div>
  </form>
</div>
