<md-toolbar>
  <h1 class="md-toolbar-tools">{{'TRACE_LIST' | translate}}</h1>
</md-toolbar>
<md-content class="md-padding">
  <span ng-if="!traces">
    {{'NO_TRACE_REPORTED' | translate}}
  </span>
  <span ng-if="traces">
  <md-content class="md-padding">
    <arch-content-dropdown ng-repeat="trace in traces | filter:filterOptions" title="trace.features[0].properties.name" >
      <p>{{'TYPE' | translate}}: {{trace.features[0]}}</p>
      <md-button class="md-primary" ng-click="displayTrace(trace)">Display</md-button>
      <md-button class="md-primary" ng-click="editTrace(trace)">Edit</md-button>

    </arch-content-dropdown>
  </md-content>
  </span>
</md-content>
