<md-toolbar class="md-theme-indigo">
  <h1 class="md-toolbar-tools">{{'REPORT_A_BUG' | translate}}</h1>
</md-toolbar>
<md-content class="md-padding">
  <ng-form name="bugForm">
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>{{'LATITUDE' | translate}}</label>
        <input type="text" ng-model="bug.coordinates.lat" ng-disabled="true" />
      </md-input-container>
      <md-input-container flex>
        <label>{{'LONGITUDE' | translate}}</label>
        <input type="text" ng-model="bug.coordinates.lng" ng-disabled="true" />
      </md-input-container>
    </div>
    <md-input-container flex>
      <label>{{'DESCRIPTION' | translate}}</label>
      <textarea ng-model="bug.description"></textarea>
    </md-input-container>
  </ng-form>
</md-content>
<md-content class="md-padding">
  <md-button ng-click="cancel()">
    {{'CANCEL' | translate}}
  </md-button>
  <md-button class="md-primary md-raised" ng-click="save(bug)" ng-disabled="bugForm.$invalid">
    {{'SAVE' | translate}}
  </md-button>
</md-content>
