<md-toolbar class="md-theme-indigo">
  <h1 class="md-toolbar-tools">{{'PATH_DETAILS' | translate}}</h1>
</md-toolbar>
<md-content class="md-padding">
  <ng-form name="bugForm">
    <md-input-container flex>
      <md-select ng-model="path.properties.coating" flex>
        <md-select-label>{{ path.properties.coating ? (path.properties.coating.name | translate) : ('SELECT_A_COATING' | translate) }}</md-select-label>
        <md-option ng-value="coating" ng-repeat="coating in coatings">{{coating.name | translate}}</md-option>
      </md-select>
    </md-input-container>
  </ng-form>
  <arch-media-form added="medias"></arch-media-form>
</md-content>
<md-content class="md-padding">
  <md-button ng-click="cancel()">
    {{'CANCEL' | translate}}
  </md-button>
  <md-button ng-click="save(path)">
    {{'SAVE' | translate}}
  </md-button>
</md-content>
