<md-content>
  <h3>
    <span>
      <md-button ng-click="cancel()">
        {{'BACK' | translate}}
      </md-button>
    </span>
    {{'MEMBER_SPACE' | translate}}
  </h3>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{'MY_COURSES'}}">
      <md-content class="md-padding">
      </md-content>
    </md-tab>
    <md-tab label="{{'MY_FAVORITE_COURSES'}}">
      <md-content class="md-padding">
      </md-content>
    </md-tab>
    <!--
    <md-tab label="two">
      <md-content class="md-padding">
      </md-content>
    </md-tab>
    -->
  </md-tabs>
</md-content>
