<form name="personalInfosForm" role="form" ng-submit="updatePersonalInfos()">
  <div layout="column">
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'PERSONAL_INFOS_FORM_LNAME' | translate}}</label>
        <input type="text" ng-model="profile.user.lname" ng-required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-user"></md-icon>
      <md-input-container flex>
        <label>{{'PERSONAL_INFOS_FORM_FNAME' | translate}}</label>
        <input type="text" ng-model="profile.user.fname" ng-required="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-envelope-o"></md-icon>
      <md-input-container flex>
        <label>{{'PERSONAL_INFOS_FORM_EMAIL' | translate}}</label>
        <input type="email" ng-model="profile.user.email" ng-required="true" readonly="true">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-lock"></md-icon>
      <md-input-container flex>
        <label>{{'PERSONAL_INFOS_FORM_PASSWORD' | translate}}</label>
        <input type="password" ng-model="profile.user.newPassword">
      </md-input-container>
    </div>
    <div layout="row">
      <md-icon class="fa fa-lock"></md-icon>
      <md-input-container flex>
        <label>{{'PERSONAL_INFOS_FORM_CONFIRM' | translate}}</label>
        <input type="password" ng-model="profile.user.confirmNewPassword">
      </md-input-container>
    </div>
  </div>

  <div class="md-actions" layout="row">
    <md-button class="md-raised md-accent" type="submit" ng-disabled="personalInfosForm.$invalid">{{'SUBSCRIBE_FORM_SUBMIT' | translate}}</md-button>
  </div>
</form>
