<md-content layout="column" layout-fill>
  <!--<arch-navbar-wrapper></arch-navbar-wrapper>-->
  <navbar class="arch-navbar">
      <!--<md-toolbar class="background-transition" md-theme="{{currentTheme}}" md-theme-watch>-->
      <span layout="row" layout-align="begin center" flex>
        <div flex>
          <span ng-if="!map.isInit">
            <md-progress-circular md-mode="indeterminate"
                                  layout="row"
                                  layout-align="center center"
                                  md-diameter="30"></md-progress-circular>
          </span>
        </div>
        <div flex="80">
          <arch-map-center-search></arch-map-center-search>
        </div>
        <!--
        <div flex></div>
        <div class="smaller" flex="30">
          <arch-map-coordinates-indicator></arch-map-coordinates-indicator>
        </div>
        -->
        <div flex>
          <md-button ui-sref="map.memberSpace.ratedCourses">{{'MEMBER_SPACE' | translate}}</md-button>
        </div>
      </span>
      <!--</md-toolbar>-->
  </navbar>

  <section flex layout="row">
    <span ng-if="map.isInit" flex>
      <leaflet defaults="map.defaults"
               center="map.center"
               class="arch-map-leaflet"></leaflet>
    </span>

    <md-sidenav ui-view="mapRight" class="arch-sidenav-large md-sidenav-right"
                layout="column" md-component-id="right"
                ng-class="{'arch-sidenav-extra-large': displayOptions.mapRight.width == 'extra'}"></md-sidenav>
  </section>
</md-content>
