<md-toolbar>
  <h1 class="md-toolbar-tools">{{'BY_GPS' | translate}}</h1>
</md-toolbar>
<md-content class="md-padding">
  <p>{{'PLEASE_PROVIDE_GPS_COORDINATES_TO_CENTER_THE_MAP' | translate}}</p>
  <ng-form name="chooseCenterForm">
    <div layout="column">
      <md-input-container flex>
        <label>{{'LATITUDE' | translate}}</label>
        <input type="number" ng-model="center.lat" name="latitude" min="-90" max="90" required />
        <div ng-messages="chooseCenterForm.latitude.$error" ng-if="chooseCenterForm.latitude.$dirty">
          <div ng-message="number">{{'MUST_BE_A_NUMBER' | translate}}</div>
          <div ng-message="required">{{'PLEASE_PROVIDE_A_LATITUDE' | translate}}</div>
          <div ng-message="max">{{'MAX_LATITUDE_IS_90' | translate}}</div>
          <div ng-message="mix">{{'MIN_LATITUDE_IS_M90' | translate}}</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>{{'LONGITUDE' | translate}}</label>
        <input type="number" ng-model="center.lng" name="longitude" min="-180" max="180" required />
        <div ng-messages="chooseCenterForm.longitude.$error" ng-if="chooseCenterForm.longitude.$dirty">
          <div ng-message="number">{{'MUST_BE_A_NUMBER' | translate}}</div>
          <div ng-message="required">{{'PLEASE_PROVIDE_A_LONGITUDE' | translate}}</div>
          <div ng-message="max">{{'MAX_LONGITUDE_IS_180' | translate}}</div>
          <div ng-message="mix">{{'MIN_LONGITUDE_IS_M180' | translate}}</div>
        </div>
      </md-input-container>
    </div>
  </ng-form>
  <md-button ng-click="closeRight()">
    {{'CANCEL' | translate}}
  </md-button>
  <md-button ng-click="chooseCenter(center)" class="md-primary" ng-disabled="chooseCenterForm.$invalid">
    {{'CHOOSE' | translate}}
  </md-button>
</md-content>
