/*#arch-map {
  position: absolute;
  z-index: 1;
  width: 100% !important;
  height: 100% !important;
}*/

.is-drawing-path {
  cursor: pointer !important;
}

.is-drawing-path.is-dragged {
  cursor: hand !important;
}
