<md-toolbar class="md-theme-indigo">
  <h1 class="md-toolbar-tools">{{'WELCOME' | translate}}</h1>
</md-toolbar>
<md-content layout="column">
  <arch-back-button back-state="main" back-text="HOME"></arch-back-button>
  <md-button class="md-primary" ui-sref="map.center">
    <span class="fa fa-crosshairs"></span>
    {{'CHOOSE_CENTER' | translate}}
  </md-button>
  <md-button class="md-primary" ui-sref="map.poi">
    <span class="fa fa-heart"></span>
    {{'POINTS_OF_INTEREST' | translate}}
  </md-button>
  <md-button class="md-primary" ui-sref="map.bug">
    <span class="fa fa-bug"></span>
    {{'BUGS' | translate}}
  </md-button>
  <md-button class="md-primary" ui-sref="map.path">
    <span class="fa fa-location-arrow"></span>
    {{'PATHS' | translate}}
  </md-button>
  <md-button class="md-primary" ui-sref="map.gpx">
    <span class="fa fa-upload"></span>
    {{'UPLOAD_A_GPX_TRACE' | translate}}
  </md-button>
</md-content>
