<md-toolbar class="md-theme-indigo">
  <h1 class="md-toolbar-tools">{{'COURSE_DETAILS' | translate}}</h1>
</md-toolbar>
<md-content class="md-padding">
  <div ng-switch="course">
    <div ng-switch-when="false">
      <md-progress-circular md-mode="interminate"></md-progress-circular>
    </div>
    <div ng-switch-default>
      <ng-form name="courseForm">
        <md-input-container flex>
          <label>{{'COMMENTARY' | translate}}</label>
          <textarea ng-model="course.properties.commentary"></textarea>
        </md-input-container>
        <md-input-container flex>
          <label>{{'DIFFICULTY' | translate}}</label>
          <md-select placeholder="Choisir" ng-model="course.properties.difficulty">
            <md-option value="1">Très facile</md-option>
            <md-option value="2">Facile</md-option>
            <md-option value="3">Modéré</md-option>
            <md-option value="4">Difficile</md-option>
            <md-option value="5">Très difficile</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <md-checkbox ng-model="course.properties.public">
            {{'PUBLIC' | translate}}
          </md-checkbox>
        </md-input-container>
      </ng-form>
      <md-button ng-click="search()">
        {{'CANCEL' | translate}}
      </md-button>
      <md-button ng-click="save(course)" class="md-primary md-raised" ng-disabled="courseForm.$invalid">
        {{'SAVE' | translate}}
      </md-button>
    </div>
  </div>
</md-content>
