// DO NOT REMOVE THE "//injector" AND "//endinjector" COMMENTS!
// injector
// endinjector

/*html{
  font-family: "Titillium Web,​sans-serif";
}*/

body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.upload-zone {
  width: 100%;
  display: block;
  height: 100px;
  border: 1px solid rgba(0,0,0,.12);
}

.padded {
  padding: 8px;
}

.smaller {
  font-size: 15px;
}

.background-transition {
  transition: background 0.5s;
}

.arch-section {
  background-size: cover;
  height: 100%;
}

.arch-section.arch-section-full-width {
  width: 100%;
}

.arch-right-sidebar {
  width: 500px;
  max-width: 60%;
}

.main-menu > li
{
  display:inline-block;
  margin-left:5px;
}

.main-content {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.md-button {
  text-transform: none;
}

.arch-side-nav .md-button {
  text-align: left;
  line-height: 40px;
  padding: 0 16px 0 32px;
}
