html{
  font-family: "Titillium Web,​sans-serif";
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.dialog--m {
  width: 600px;
  margin-left: -300px;
}

.dialog--s {
  width: 400px;
  margin-left: -200px;
}

.upload-zone {
  width: 100%;
  display: block;
  height: 100px;
  border: 1px solid rgba(0,0,0,.12);
}

.padded {
  padding: 8px;
}

.smaller {
  font-size: 15px;
}

.background-transition {
  transition: background 0.5s;
}

.arch-section {
  height: 600px;
}

.arch-section.arch-section-full-width {
  width: 100%;
}

.arch-right-sidebar {
  width: 500px;
  max-width: 60%;
}

.main-menu > li
{
  display:inline-block;
  margin-left:5px;
}


