<ion-view view-title="Ajouter un nouveau point d'interêt">
  <ion-content>
      <div data-ng-controller="addPOICtrl" data-ng-init="initAddImage()">
            <img class="center" ng-src="{{image}}" height="200px"></img>
            <div data-ng-controller="addPOICtrl" class="list" data-ng-init="getGPSposition()">
                <label class="item item-input">
                    <span class="input-label">Nom du POI</span>
                    <input type="text" name="poiname" placeholder="ex : Cathédrale de Strasbourg">
                </label>
                <label class="item item-input">
                    <span class="input-label">Position GPS</span>
                    <input type="text" disabled name="gpscoor" value="{{lat}} latitude, {{long}} longitude, {{alt}} altitude">
                </label>
            </div>

            <div class="button-bar">
                <a class="button icon-left ion-ios-loop-strong button-calm" ng-click="initAddImage()">Nouvelle photo</a>
                <a class="button icon-right ion-paper-airplane button-calm">Envoyer</a>
            </div>
      </div>
  </ion-content>
</ion-view>
